/* Base Css Start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f3f3f3;
  font-family: "Sofia Sans", sans-serif;
}
/* Base Css End */

/* header css start */
.logo {
  width: 150px;
}
.header-inner {
  border-bottom: 1px dashed #cdcdcd;
}
.security {
  margin-right: 30px;
  margin-left: 30px;
}

.security,
.toggle-wrap {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  font-weight: normal;
}
.security svg {
  margin-right: 5px;
  height: 20px;
  width: 18px;
}
.security {
  cursor: pointer;
}

.toggle-switch {
  width: 36px;
  height: 22px;
  background: #d9d9d9;
  border-radius: 100px;
  position: relative;
}
.toggle-switch::after {
  content: "";
  width: 22px;
  height: 22px;
  background: #b4b4b4;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}
.toggle-switch.active::after {
  left: calc(100% - 22px);
}
.dropdown-toggle::after {
  content: none;
}
.toggle-menu {
  border: 1px solid #9b9b9b;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  background-color: transparent;
}
.toggle-menu.show {
  background-color: #fff;
  border-color: transparent;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.open-sign {
  transition: 0.3s;
}
.close-sign {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.show .close-sign {
  opacity: 1;
  visibility: visible;
}
.show .open-sign {
  opacity: 0;
  visibility: hidden;
}
.dropdown-menu.style-1,
.dashboard-left {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  min-width: 210px;
  padding: 15px;
  border-radius: 10px 0 10px 10px;
  margin-top: -3px !important;
  border: 0;
}
.dashboard-left {
  border-radius: 10px 100px;
  overflow: hidden;
}
.profile-avater img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.profile-avater {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.profile-avater h5 {
  color: #535353;
  font-size: 16px;
  margin: 0;
}
.edit-profile {
  color: #dd7e24;
  font-size: 13px;
  line-height: 1;
  transition: 0.3s;
}
.edit-profile:hover svg path {
  transition: 0.3s;
}
.edit-profile:hover svg path {
  fill: #dd7e24;
}
.profile-zone,
.balanace-zone {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 15px;
}
.profile-zone {
  padding-top: 9px;
}
.rd-btn {
  font-size: 14px;
  text-decoration: none;
  color: #848484;
  border: 1px solid #e07d22;
  border-radius: 50px;
  height: 32px;
  padding: 0 15px;
  transition: 0.3s;
}
.rd-btn img {
  left: 10px;
  width: 14px;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
}
.balanace-zone .rd-btn {
  margin-top: 10px;
}

.balance strong {
  color: #4c6079;
  font-size: 22px;
  line-height: 1.2;
}
.balance span {
  display: block;
  color: #848484;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 4px;
}
.balanace-zone {
  padding-top: 16px;
  padding-bottom: 18px;
}
.dashboard-left .balance {
  margin-bottom: 10px;
}
.rd-btn.fill-dark-lebu {
  background-color: #31506f;
  border-color: #31506f;
  color: #fff;
}
.menu-zone {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  list-style: none;
  padding: 0;
  text-align: center;
  margin-top: 24px;
}
.menu-zone li a span {
  display: block;
}
.menu-zone li a {
  text-decoration: none;
  color: #8f8f8f;
  font-size: 14px;
  transition: 0.3s;
  line-height: 1.2;
  display: inline-block;
}
.menu-zone li {
  margin-bottom: 20px;
}
.menu-zone li a img {
  width: 24px;
  height: 24px;
  margin-bottom: 2px;
}
.menu-zone li a:hover {
  color: #dd7e24;
}
.sign-out-btn {
  background-color: #dc959a;
  height: 56px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  display: grid;
  grid-template-columns: auto 56px;
  align-items: center;
  border-radius: 0 0 10px 10px;
  transition: 0.3s;
}
.sign-out-btn:hover {
  background-color: #ce686e;
}
.power-icon {
  background-color: #ce686e;
  height: 100%;
}
.ds-menu {
  margin-bottom: 50px;
}
/* header css end */

/* dashboard css start */
.dashboard-outer {
  display: grid;
  grid-template-columns: 250px auto;
  grid-gap: 24px;
  padding: 40px 0;
  align-items: flex-start;
}
.shadow-one {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
}
.welcome-wrapper {
  border-radius: 8px;
  background-color: #fff;
}

.welcome-dear {
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #79828b;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
}
.dashboard-left .profile-avater h5 {
  margin-right: 30px;
}
.welcome-right h4 {
  font-family: "Poppins", sans-serif;
  border-radius: 0px 0px 0px 50px;
  background-color: #ffecda;
  padding: 14px 30px;
  margin-bottom: 0;
  font-size: 27px;
  padding-bottom: 17px;
}
.short-info p {
  color: #7a848c;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 3px;
  line-height: 1.2;
}
.short-info .s-text,
.short-info .s-text a {
  color: #000000;
  font-size: 16px;
  display: block;
  text-decoration: none;
}
.short-info {
  margin-top: 15px;
}
.short-info-wrap .short-info:not(:last-child) {
  margin-right: 60px;
}
.short-info-wrap {
  margin-bottom: 12px;
  margin-top: 10px;
}
.rd-btn-2 {
  border: 1px solid #f2994a;
  border-radius: 30px 0px 30px;
  padding: 0px 26px;
  height: 40px;
  font-size: 13px;
  box-shadow: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #4f4f4f;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  transition: 0.3s;
}
.crud-btns .rd-btn-2 {
  margin-top: 10px;
}
.rd-btn-2:hover {
  background-color: #f2994a;
  color: #fff;
}
.rd-btn-2.fill-green {
  background-color: #15a68c;
  border-color: #15a68c;
  color: #fff;
}

.rd-btn-2.trans-green {
  border-color: #15a68c;
  color: #15a68c;
}
.rd-btn-2.trans-green:hover {
  background-color: #15a68c;
  color: #fff;
}
.rd-btn-2.fill-green:hover {
  background-color: transparent;
  color: #15a68c;
}
.rd-btn-2.fill-red {
  background-color: #d69999;
  border-color: #d69999;
  color: #fff;
}
.rd-btn-2.fill-red:hover {
  background-color: transparent;
  color: #d69999;
}
.crud-btns a:not(:last-child) {
  margin-right: 20px;
}
.welcome-wrapper {
  display: grid;
  grid-template-columns: 324px auto;
  grid-gap: 40px;
  align-items: center;
  border-radius: 200px 8px 8px 8px;
}
.welcome-right.balance-card {
  border-radius: 8px;
  display: grid;
  grid-template-columns: auto 210px;
  grid-gap: 30px;
  padding: 30px 0;
  align-items: center;
}
.dpo-wrap,
.statis-wrap {
  border-radius: 8px;
  padding: 21px;
  padding-left: 34px;
}

.blk-title {
  color: #000000;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
}
.dpo-grid-wrap {
  display: grid;
  grid-template-columns: auto 220px;
  grid-gap: 20px;
}

.two .short-info {
  position: relative;
  padding-left: 10px;
  margin-top: 10px;
}
.two .short-info::before {
  content: "";
  position: absolute;
  width: 3px;
  height: calc(100% - 2px);
  background-color: #d9d9d9;
  left: 0;
  top: 0;
}

.statis-wrap {
  display: grid;
  grid-template-columns: 165px auto;
  grid-gap: 20px;
  align-items: center;
  border-radius: 8px 8px 150px 8px;
}
.statis-wrap .short-info-wrap.two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin: 0;
}
.statis-wrap .short-info-wrap.two .short-info {
  margin: 0 !important;
}
.silver .dp-field input {
  border-color: #bdbdbd;
}
.dp-field input {
  width: 100%;
  border-radius: 50px 0px 70px;
  border: 0;
  border-bottom: 1px solid #31506f;
  border-right: 1px solid #31506f;
  height: 54px;
  padding: 0 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  transition: 0.3s;
}
.dp-field input:focus {
  outline: none;
  border-color: #f2994a;
}
.copyable-link {
  max-width: 320px;
}
.doller-sign {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #777777;
  font-weight: 500;
  font-size: 20px;
}
.crud-btns.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
.crud-btns.grid a {
  margin: 0;
}
.rd-btn-2.trans-dark-lebu {
  border-color: #31506f;
  color: #31506f;
}
.rd-btn-2.trans-dark-lebu:hover {
  background-color: #31506f;
  color: #fff;
}
.rd-btn-2.fill-dark-lebu {
  background-color: #31506f;
  color: #fff;
  border-color: #31506f;
}
.rd-btn-2.fill-dark-lebu:hover {
  background-color: transparent;
  color: #31506f;
}
.welcome-right h4.blance {
  text-align: right;
  color: #31506f;
  font-weight: 700;
  font-family: "Sofia Sans", sans-serif;
  background-color: #e1e8ee;
  border-radius: 0 0 50px 0;
}
.card-2nd {
  margin-top: 35px;
}
.two .short-info .s-text {
  font-size: 20px;
  line-height: 1.2;
}
.card-twin-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}
/* dashboard css end */

/* support-ticket page css start */
.cmn-container {
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.06));
  border-radius: 100px 10px 10px 10px;
  background-color: #fff;
  min-height: 619px;
}
.cmn-pad-wrap {
  padding: 30px 40px;
}
.cmn-ttl-bar {
  display: grid;
  grid-template-columns: 1.05fr 2.5fr;
  grid-gap: 30px;
  padding-top: 40px;
  padding-right: 30px;
}
.cmn-ttl-bar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cmn-ttl {
  background: #ffecda;
  font-size: 28px;
  color: #6b6b6b;
  padding: 14px 20px;
  border-radius: 0 0 50px 0;
  padding-left: 40px;
  font-family: "Poppins", sans-serif;
}
.search-fm {
  display: grid;
  grid-template-columns: auto auto 30px;
  align-items: center;
  grid-gap: 10px;
  margin-left: 10px;
}
.search-fm .form-control {
  border-radius: 30px;
  border: 1px solid #bcbcbc;
  height: 40px;
  padding: 0 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #787878;
  margin-right: 12px;
}
.search-btn {
  width: 24px;
  height: 24px;
  padding: 0;
}
.form-control:focus {
  border-color: #f2994a;
  box-shadow: 0 0 0 0.25rem rgba(242, 152, 74, 0.25);
}

.single-ticket {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 20px;
  display: grid;
  grid-template-columns: auto 400px;
  grid-gap: 20px;
}
.ticket-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
.ticket-right .s-text,
.conversations-wrap .s-text {
  color: #6b6b6b;
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
}
.ticket-right .short-info {
  margin-top: 0;
}

.ticket-right .short-info {
  margin-top: 0;
}
.ticket-left h4 {
  color: #6b6b6b;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 10px;
}
.recent-message {
  color: #adadad;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 2px;
  display: block;
}
.recent-message-wrap p {
  color: #6b6b6b;
  font-size: 16px;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.cmn-ttl-bar-right .rd-btn-2 {
  min-width: 192px;
}
.pagination li a {
  color: #828282;
  font-size: 16px;
  border: 0;
  font-family: "Poppins", sans-serif;
}
.pagination li a:hover {
  color: #f2994a;
}
.pagination li a.lf,
.pagination li a.lr {
  font-size: 24px;
  line-height: 1;
}
/* support-ticket page css end */

/* open-ticket page css start */

.input-wrap label,
.label-p {
  font-size: 14px;
  color: #adadad;
  display: block;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

.form-control.type-2 {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border: 0;
  border-bottom: 2px solid #e0e0e0;
  border-radius: 0;
  height: 50px;
  padding: 0 15px;
  transition: 0.3s;
}
.form-control.type-2:focus {
  border-color: #f2994a;
}
textarea.form-control.type-2 {
  height: 210px;
  padding-top: 10px;
}

.rd-btn-2.fill {
  background-color: #f2994a;
  color: #fff;
}
.rd-btn-2.fill:hover {
  background-color: transparent;
  color: #f2994a;
}
.type-2 .cmn-ttl-bar-right {
  justify-content: flex-end;
}
.min-sm {
  min-width: 150px;
}
/* open-ticket page css end */

/* ticket-details page css start */

.conversations-wrap .rw-conv:not(:last-child) {
  border-bottom: 1px dashed #9b9b9b;
}
.rw-conv {
  padding: 20px 0;
}
.conv-date {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #31506f;
  line-height: 1;
}
.replyer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #f2994a;
  line-height: 1;
  margin: 0;
}
.rw-conv p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #858585;
  margin: 0;
}
.reply-head {
  margin-bottom: 6px;
}
.form-select.type-3 {
  border-color: #f2994a;
  border-radius: 30px 0px 30px;
  height: 40px;
  padding: 0px 26px;
  cursor: pointer;
  width: auto;
}
/* ticket-details page css end */

/* deposite page css start */

.deposite-title {
  background: linear-gradient(270deg, #c59d78 0%, #f7d6b9 100%);
  border-radius: 0px 0px 50px 0px;
  color: #000000;
  font-size: 26px;
  padding: 20px 30px;
  line-height: 1.1;
  padding-bottom: 17px;
  font-family: "Poppins", sans-serif;
  padding-left: 34px;
  margin: 0;
}
.deposite-wrapper {
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.06));
  border-radius: 100px 10px 10px 10px;
  overflow: hidden;
}
.dps-top {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 350px auto;
  align-items: center;
  grid-gap: 60px;
}
.deposite-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.deposite-display .short-info {
  margin: 0;
  position: relative;
  padding-right: 36px;
}
.deposite-display .short-info:not(:last-child)::after {
  content: "";
  position: absolute;
  right: calc(15px + 3vw);
  background-color: #dedede;
  width: 1px;
  height: calc(100% + 30px);
  top: 50%;
  transform: translateY(-50%);
}
.dps-btm {
  padding: 34px;
}
.dps-rw {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1.5fr;
  grid-gap: 30px;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  border-radius: 50px 10px;
  background-color: #fff;
  padding: 20px 30px;
  align-items: center;
}
.dps-rw .progress {
  background-color: #e0c2a6;
  height: 16px;
  border-radius: 60px;
  margin-top: 5px;
}
.dps-rw .progress .progress-bar {
  background-color: #c0966e;
}

.deposite-display .s-text,
.dps-rw .s-text {
  color: #1c1c1c;
  font-size: 28px;
  line-height: 1.2;
}
.deposite-display .short-info p,
.dps-rw .short-info p {
  color: #989898;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.dps-rw .s-text {
  font-size: 22px;
}
.dps-rw .short-info {
  margin: 0;
}
.short-info.with-progress-bar .s-text {
  font-size: 17px;
  margin-top: 4px;
}
.silver .deposite-title {
  background: linear-gradient(270deg, #d8d7d7 0%, #e2e2e2 100%);
}
.gold .deposite-title {
  background: linear-gradient(270deg, #f4bb26 0%, #bfa11c 100%);
}
.platinum .deposite-title {
  background: linear-gradient(270deg, #b1bcbb 0%, #e3edec 100%);
}
.vip .deposite-title {
  background: linear-gradient(270deg, #da1515 0%, #f7607b 100%);
  color: #fff;
}
.three-m .deposite-title {
  background: linear-gradient(270deg, #fff9c4 0%, #fbee7b 100%);
}
.six-m .deposite-title {
  background: linear-gradient(270deg, #d6ebff 0%, #c9ebff 100%);
}
.nine-m .deposite-title {
  background: linear-gradient(270deg, #dffffc 0%, #aefff7 100%);
}
.silver .dps-rw .progress {
  background-color: #8e8e8e;
}
.silver .dps-rw .progress .progress-bar {
  background-color: #dcdcdc;
}
.gold .dps-rw .progress {
  background-color: #ae9114;
}
.gold .dps-rw .progress .progress-bar {
  background-color: #f2ba26;
}
.platinum .dps-rw .progress {
  background-color: #798584;
}
.platinum .dps-rw .progress .progress-bar {
  background-color: #b6c1c0;
}
.vip .dps-rw .progress {
  background-color: #964f4f;
}
.vip .dps-rw .progress .progress-bar {
  background-color: #d5a6a6;
}
.three-m .dps-rw .progress {
  background-color: #d6cd85;
}
.three-m .dps-rw .progress .progress-bar {
  background-color: #ffed52;
}
.six-m .dps-rw .progress {
  background-color: #66aee4;
}
.six-m .dps-rw .progress .progress-bar {
  background-color: #b0dfff;
}
.nine-m .dps-rw .progress {
  background-color: #539e97;
}
.nine-m .dps-rw .progress .progress-bar {
  background-color: #b5fff8;
}
/* deposite page css end */

/* withdraw-funds page css start */

.ddl-g-wrapper {
  display: grid;
  grid-template-columns: auto 600px;
  grid-gap: 100px;
}
.doller-cirlce img {
  max-width: 70%;
}
.one-third-btns {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 15px;
}
.short-info.green::before {
  background-color: #c8f9c4;
}
.short-info.red::before {
  background-color: #fccaca;
}

.short-info.type-4 .s-text {
  color: #435871;
  font-size: 22px;
}
.short-info.type-4 p {
  color: #adadad;
}
.withdraw-balances {
  margin-bottom: 20px;
}
.short-info.type-4 {
  margin-bottom: 10px;
}
.mb-40 {
  margin-bottom: 40px;
}
.two .short-info.type-4::before {
  width: 4px;
}
.two .short-info.type-4 {
  padding-left: 12px;
}
.cmn-ttl.black {
  color: #000;
}

.rd-btn-2.fill-red-blood {
  background-color: #f24a4a;
  border-color: #f24a4a;
  color: #fff;
}
.rd-btn-2.fill-red-blood:hover {
  color: #f24a4a;
  background-color: transparent;
}
.one-third-btns.two {
  max-width: 280px;
}
.min-h-auto {
  min-height: auto;
}
.doller-cirlce {
  margin-top: -90px;
}
.doller-cirlce.mt-0 {
  margin-top: -28px !important;
}
.type-2 + .cmn-pad-wrap {
  padding-bottom: 40px;
}
.ddl-g-wrapper form {
  max-width: 600px;
}
.select_token {
  cursor: pointer;
}
.select_token .span {
  background: #ffffff;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  border: 0;
  padding: 10px 12px;
  color: #4c6079;
  font-size: 22px;
  font-weight: 400;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.select_token .span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #15a68c;
  left: 0;
  bottom: -3px;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.select_token input[type="checkbox"]:checked + .span::after {
  opacity: 1;
  visibility: visible;
  bottom: 0;
}
.select_token .span img {
  width: 36px;
  margin-right: 7px;
}
/* withdraw-funds page css end */

/* Media Query */

@media screen and (max-width: 1800px) {
  .deposite-display .short-info:not(:last-child)::after {
    right: calc(16px + 2vw);
  }
}
@media screen and (max-width: 1600px) {
  .dpo-grid-wrap {
    grid-template-columns: auto 175px;
  }
  .dpo-wrap,
  .statis-wrap {
    padding: 21px;
    padding-left: 21px;
  }
  .short-info-wrap .two .short-info:not(:last-child) {
    margin-right: 36px;
  }
  .welcome-right.balance-card {
    grid-template-columns: auto 160px;
    grid-gap: 24px;
    padding: 21px 0;
  }
  .card-2nd {
    margin-top: 24px;
    padding-left: 20px !important;
  }
  .statis-wrap {
    grid-template-columns: 166px auto;
  }
  .card-twin-grid {
    grid-template-columns: 1fr 1fr;
  }
  .statis-wrap {
    grid-template-columns: 155px auto;
    border-bottom-right-radius: 115px;
  }
  .dps-top {
    grid-template-columns: 280px auto;
    grid-gap: 30px;
  }
  .deposite-display .short-info:not(:last-child)::after {
    right: calc(16px + 1vw);
  }
  .ddl-g-wrapper {
    grid-template-columns: auto 450px;
    grid-gap: 30px;
  }
  .doller-cirlce img {
    max-width: 95%;
  }
}
@media screen and (max-width: 1439px) {
  .card-twin-grid {
    display: block;
  }
  .welcome-right.balance-card {
    margin-bottom: 24px;
  }
  .welcome-right.balance-card {
    grid-template-columns: auto 210px;
  }
  .dpo-grid-wrap {
    grid-template-columns: auto 260px;
  }
  .single-ticket {
    grid-template-columns: auto 345px;
  }
  .cmn-ttl-bar {
    grid-template-columns: 1fr 2fr;
    grid-gap: 15px;
  }
  .cmn-ttl-bar-right .rd-btn-2 {
    min-width: 170px;
  }
  .cmn-pad-wrap {
    padding: 24px 24px;
  }
  .cmn-ttl {
    font-size: 26px;
    padding: 14px;
    padding-left: 24px;
  }
  .dps-top {
    grid-template-columns: 1fr;
    margin-top: 30px;
    grid-gap: 40px;
  }
  .deposite-display {
    padding-left: 34px;
  }
  .deposite-title {
    border-bottom-right-radius: 0;
  }
  .ddl-g-wrapper {
    grid-template-columns: auto 330px;
    grid-gap: 30px;
  }
  .doller-cirlce {
    margin-top: 0;
  }
  .doller-cirlce.mt-0 {
    margin-top: 0 !important;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1350px) {
  .short-info-wrap .short-info:not(:last-child) {
    margin-right: 30px;
  }
  .copyable-link {
    max-width: 180px;
  }
  .crud-btns a:not(:last-child) {
    margin-right: 10px;
  }
  .welcome-wrapper {
    grid-template-columns: 270px auto;
    grid-gap: 20px;
    border-top-left-radius: 135px;
  }
  .short-info-wrap {
    margin-bottom: 3px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 1199px) {
  .logo {
    width: 140px;
  }
  .dashboard-outer {
    display: block;
  }
  .short-info-wrap .short-info:not(:last-child) {
    margin-right: 30px;
  }
  .welcome-wrapper {
    grid-template-columns: 335px auto;
    grid-gap: 24px;
  }
  .copyable-link {
    max-width: 200px;
  }
  .crud-btns a:not(:last-child) {
    margin-right: 10px;
  }
  .rd-btn-2 {
    padding: 0px 24px;
  }
  .cmn-container {
    min-height: auto;
  }
}
@media screen and (max-width: 991px) {
  .welcome-wrapper {
    border-radius: 8px;
    display: block;
    padding: 20px;
    position: relative;
  }

  .welcome-left {
    width: 101px;
    position: absolute;
    left: 20px;
    top: 20px;
  }
  .welcome-wrapper .welcome-right .welcome-dear,
  .welcome-wrapper .welcome-right h4 {
    margin-left: 120px;
  }
  .welcome-right h4 {
    padding: 15px 30px;
    margin-bottom: 0;
    font-size: 28px;
    padding-bottom: 16px;
  }
  .cmn-ttl-bar {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
  .cmn-ttl-bar-right {
    justify-content: center;
    padding-left: 24px;
  }
  .single-ticket {
    grid-template-columns: 1fr;
    grid-gap: 45px;
  }
  .deposite-display .short-info:not(:last-child)::after {
    right: calc(10px + 1vw);
  }
  .deposite-display .short-info {
    padding-right: 34px;
  }
  .deposite-display .s-text,
  .dps-rw .s-text {
    font-size: 24px;
  }
  .dps-rw {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
  }

  .doller-cirlce {
    display: none;
  }
  .ddl-g-wrapper {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    width: 120px;
  }
  .security {
    margin-right: 20px;
    margin-left: 20px;
  }
  .security svg {
    margin-right: 0;
    height: 22px;
    width: 20px;
  }
  .dashboard-outer {
    display: block;
    padding: 30px 0;
  }
  .welcome-wrapper .welcome-right .welcome-dear,
  .welcome-wrapper .welcome-right h4 {
    margin-left: 0;
  }
  .welcome-left {
    position: unset;
    width: 70px;
    margin-bottom: 14px;
  }
  .welcome-right h4 {
    padding: 15px 30px;
    margin-bottom: 0;
    font-size: 22px;
    padding-bottom: 16px;
    border-radius: 0px 0px 0px 40px;
  }
  .crud-btns.d-flex.flex-wrap {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }
  .user-circle-md {
    display: none;
  }
  .welcome-right.balance-card {
    display: block;
    padding-right: 20px;
  }
  .dpo-grid-wrap,
  .statis-wrap {
    display: block;
    border-radius: 8px;
  }
  .two .short-info {
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .short-info-wrap.two {
    margin-bottom: 10px !important;
  }
  .blk-title {
    font-size: 22px;
    margin-bottom: 8px !important;
  }
  .statis-wrap .short-info-wrap.two {
    margin-bottom: 0 !important;
    margin-top: 17px;
    grid-gap: 25px;
  }
  .copyable-link {
    max-width: 250px;
  }
  .cmn-pad-wrap {
    padding: 20px 15px;
  }
  .cmn-ttl {
    font-size: 22px;
    padding: 14px;
    padding-left: 24px;
  }
  .cmn-ttl-bar-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding-left: 15px;
  }
  .search-fm {
    margin-left: 0;
    grid-template-columns: auto;
  }
  .search-btn {
    width: 100%;
    border: 1px solid #f2994a !important;
    border-radius: 30px;
    height: 40px;
  }
  .cmn-ttl-bar {
    grid-template-columns: 1fr;
    grid-gap: 15px;
    padding-right: 15px;
    padding-top: 28px;
  }
  .cmn-container {
    border-radius: 60px 10px 10px 10px;
  }
  .single-ticket {
    padding: 15px;
  }
  .ticket-left h4 {
    font-size: 20px;
  }
  textarea.form-control.type-2 {
    height: 120px;
  }
  .deposite-title {
    font-size: 20px;
    padding: 14px 20px;
    padding-bottom: 12px;
  }
  .deposite-display {
    grid-template-columns: 1fr;
    padding-left: 15px;
    padding-right: 15px;
    grid-gap: 24px;
  }
  .deposite-display .short-info:not(:last-child)::after {
    content: none;
  }
  .dps-btm {
    padding: 20px 15px;
  }
  .dps-rw {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    padding: 15px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .dps-rw .s-text {
    font-size: 18px;
  }
  .short-info.with-progress-bar {
    grid-column: 1/3;
  }
  .deposite-wrapper {
    border-top-left-radius: 50px;
  }
  .dps-top {
    margin-top: 24px;
    grid-gap: 30px;
  }
  .dps-rw .progress {
    height: 12px;
  }
  .deposite-display .short-info {
    padding-right: 0;
  }
  .type-2 + .cmn-pad-wrap {
    padding-bottom: 20px;
  }
  .one-third-btns {
    grid-template-columns: 1fr;
  }
  .short-info.type-4 .s-text {
    color: #435871;
    font-size: 20px;
  }
  .select_token .span {
    font-size: 19px;
  }
}
@media screen and (max-width: 480px) {
  .statis-wrap .short-info-wrap.two {
    grid-template-columns: 1fr;
  }
  .crud-btns.d-flex.flex-wrap {
    display: grid !important;
    grid-template-columns: 1fr;
  }
  .ticket-right {
    grid-template-columns: 1fr;
  }
  .twin-btns .min-sm {
    min-width: 140px;
  }
}
